Repository amitai1997/ticketchain-mvp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ticketchain/core-team, @ticketchain/blockchain-team, @ticketchain/backend-team, @ticketchain/devops-team, @ticketchain/security-team

.github/CODEOWNERS:

# CODEOWNERS for TicketChain
# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.

# Global owners
* @ticketchain/core-team

# Smart contracts require blockchain team review
/contracts/ @ticketchain/blockchain-team
/scripts/ @ticketchain/blockchain-team

# Backend code
/src/ @ticketchain/backend-team

# Infrastructure
/infra/ @ticketchain/devops-team
/.github/ @ticketchain/devops-team
/docker-compose.yml @ticketchain/devops-team

# Documentation
/docs/ @ticketchain/core-team
*.md @ticketchain/core-team

# Security-sensitive files
.env* @ticketchain/security-team
**/secrets/ @ticketchain/security-team

refactor: streamline environment file structure for clarity
  .env.example
  README.md
Owners: @ticketchain/security-team, @ticketchain/core-team

refactor: streamline environment file structure for clarity
  .env.example
Owners: @ticketchain/security-team

perf: optimize CI/CD pipeline for 10x speed improvement
  .github/workflows/ci-old.yml
  .github/workflows/ci.yml
  package.json
  tsconfig.json
Owners: @ticketchain/devops-team, @ticketchain/core-team

fix: resolve ESLint TypeScript parsing errors in CI
  .eslintignore
  .eslintrc.js
  tsconfig.json
Owners: @ticketchain/core-team

fix: add missing NestJS dependencies for TypeScript compilation
  package.json
Owners: @ticketchain/core-team

fix: resolve npm ci dependency conflicts
  .env.template
  package-lock.json
  package.json
Owners: @ticketchain/security-team, @ticketchain/core-team

fix: disable npm caching in CI workflows until lock file regenerated
  .github/workflows/ci.yml
  .github/workflows/test-deploy.yml
Owners: @ticketchain/devops-team

fix: resolve TypeScript compilation errors for CI pipeline
  jest.config.json
  package.json
  src/common/filters/http-exception.filter.ts
  src/common/interceptors/logging.interceptor.ts
  src/modules/blockchain/blockchain.service.ts
  src/modules/events/events.service.ts
  test/jest.setup.ts
  test/unit/cache/cache.service.spec.ts
  tsconfig.json
Owners: @ticketchain/core-team, @ticketchain/backend-team

fix: resolve final TypeScript compilation errors
  src/modules/blockchain/blockchain.service.ts
  src/modules/events/events.service.ts
Owners: @ticketchain/backend-team

fix: resolve remaining CI issues and disable conflicting workflows
  .github/workflows/ci-old.yml.disabled
  src/modules/events/events.service.ts
Owners: @ticketchain/devops-team, @ticketchain/backend-team

fix: resolve persistent TypeScript arithmetic operation errors
  src/modules/events/events.service.ts
Owners: @ticketchain/backend-team

fix: add Solidity linting configuration to resolve CI failure
  .solhint.json
  package.json
Owners: @ticketchain/core-team

fix(ci): resolve GitLeaks permissions issue
  .github/workflows/ci.yml
  .gitleaksignore
Owners: @ticketchain/devops-team, @ticketchain/core-team

feat(scripts): add auto-commit utility script
  scripts/auto-commit.sh
Owners: @ticketchain/blockchain-team

fix(ci): resolve GitLeaks false positives
  .github/workflows/ci.yml
  .gitleaksignore
Owners: @ticketchain/devops-team, @ticketchain/core-team

fix: resolve comprehensive CI/CD pipeline issues
  eslint.config.js
  package-lock.json
  package.json
  scripts/local-ci-simple.sh
  scripts/local-ci.sh
  src/common/controllers/health.controller.ts
  src/common/filters/blockchain-exception.filter.ts
  src/common/filters/http-exception.filter.ts
  src/common/interceptors/logging.interceptor.ts
  src/common/pipes/validation.pipe.ts
  src/common/utils/crypto.util.ts
  src/main.ts
  src/modules/blockchain/blockchain.service.ts
  src/modules/database/database.service.ts
  src/modules/events/events.controller.ts
  src/modules/events/events.service.ts
Owners: @ticketchain/core-team, @ticketchain/blockchain-team, @ticketchain/backend-team

fix: resolve ESLint configuration discrepancies between local and CI
  eslint.config.js
  scripts/local-ci-simple.sh
Owners: @ticketchain/core-team, @ticketchain/blockchain-team

chore: complete ESLint migration and add documentation
  .eslintignore
  .eslintrc.js
  .gitleaksignore
  docs/CI_FIXES_SUMMARY.md
Owners: @ticketchain/core-team

fix: resolve GitLeaks false positives in CI
  .gitleaksignore
Owners: @ticketchain/core-team

Fix PostgreSQL healthcheck to specify correct database name
  docker-compose.yml
Owners: @ticketchain/devops-team

Add missing dependencies for tests
  package-lock.json
  package.json
Owners: @ticketchain/core-team

Fix: Ensure Jest tests load .env.test.local environment variables
  test/jest.setup.ts
Owners: @ticketchain/core-team

docs: update .env.example with all environment variables
  .env.example
Owners: @ticketchain/security-team

Remove obsolete version attribute from docker-compose.yml
  .env.example
Owners: @ticketchain/security-team

Replace sensitive values in .env.example with placeholders
  .env.example
Owners: @ticketchain/security-team

docs/infra: fix README commands and env templates
  Makefile
  README.md
  docker-compose.yml
  pyproject.toml
Owners: @ticketchain/core-team, @ticketchain/devops-team

docs/infra: update README and Makefile with working commands
  Makefile
  README.md
Owners: @ticketchain/core-team

docs/infra: add contract address setup instructions
  .env.example
  README.md
Owners: @ticketchain/security-team, @ticketchain/core-team

docs/infra: update environment variable names to match application expectations
  .env.example
  README.md
Owners: @ticketchain/security-team, @ticketchain/core-team

fix: update environment variable names to match application expectations
  deployments/deployment-localhost-1749051968305.json
  deployments/deployment-localhost-1749052146360.json
Owners: @ticketchain/core-team

feat: automate test database setup process
  Makefile
  README.md
Owners: @ticketchain/core-team

fix: prevent contract address placeholders from being detected as secrets and fix pre-commit config
  .env.example
  .gitleaksignore
  .pre-commit-config.yaml
Owners: @ticketchain/security-team, @ticketchain/core-team

chore: exclude deployment files from version control
  .gitignore
Owners: @ticketchain/core-team

chore: remove deployment files from version control
  deployments/deployment-localhost-1749051968305.json
  deployments/deployment-localhost-1749052146360.json
Owners: @ticketchain/core-team

chore: remove all deployment files from version control
  deployments/deployment-amoy-1748611861860.json
  deployments/deployment-localhost-1748595816998.json
  deployments/deployment-localhost-1748595939223.json
  deployments/deployment-localhost-1748609491710.json
  deployments/deployment-localhost-1748609665235.json
  deployments/deployment-localhost-1748700917130.json
  deployments/deployment-localhost-1748701269456.json
  deployments/latest-amoy.json
  deployments/latest-localhost.json
Owners: @ticketchain/core-team

feat: add API server to Docker services and fix API key issue
  README.md
  infra/docker/.env.docker
Owners: @ticketchain/core-team, @ticketchain/security-team

feat: dockerize API server with health endpoints
  Makefile
  docker-compose.yml
  infra/docker/api.Dockerfile
  nest-cli.json
  src/common/controllers/health.controller.ts
Owners: @ticketchain/core-team, @ticketchain/devops-team, @ticketchain/backend-team

chore: ignore Hardhat development key in gitleaks check
  .gitleaksignore
Owners: @ticketchain/core-team

fix: correct Jest moduleNameMapping typo to moduleNameMapper
  jest.config.json
Owners: @ticketchain/core-team

docs: improve API server startup instructions
  README.md
Owners: @ticketchain/core-team
