Repository amitai1997/ticketchain-mvp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ticketchain/core-team, @ticketchain/blockchain-team, @ticketchain/backend-team, @ticketchain/devops-team, @ticketchain/security-team

.github/CODEOWNERS:

# CODEOWNERS for TicketChain
# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.

# Global owners
* @ticketchain/core-team

# Smart contracts require blockchain team review
/contracts/ @ticketchain/blockchain-team
/scripts/ @ticketchain/blockchain-team

# Backend code
/src/ @ticketchain/backend-team

# Infrastructure
/infra/ @ticketchain/devops-team
/.github/ @ticketchain/devops-team
/docker-compose.yml @ticketchain/devops-team

# Documentation
/docs/ @ticketchain/core-team
*.md @ticketchain/core-team

# Security-sensitive files
.env* @ticketchain/security-team
**/secrets/ @ticketchain/security-team

feat: add local development workflow to automate stopping API container
  Makefile
  README.md
  package.json
Owners: @ticketchain/core-team

fix: update start:dev and related scripts to auto-stop Docker API container
  Makefile
  README.md
  package.json
Owners: @ticketchain/core-team

fix: improve test infrastructure for integration tests
  package-lock.json
  package.json
  src/app.module.ts
  src/common/controllers/health.controller.ts
  src/main.ts
  src/modules/events/entities/event.entity.ts
  test/integration/events/events.integration.spec.ts
  test/integration/health.integration.spec.ts
Owners: @ticketchain/core-team, @ticketchain/backend-team

fix: resolve YAML syntax error in pre-commit configuration
  .pre-commit-config.yaml
Owners: @ticketchain/core-team

fix: resolve syntax error in pre-commit config
  .pre-commit-config.yaml
Owners: @ticketchain/core-team

fix: add jest teardown to resolve hanging test process issues
  jest.config.json
  test/jest.teardown.ts
Owners: @ticketchain/core-team

feat: add utilities to suppress error output in tests
  jest.config.json
  test/jest.setup.ts
  test/utils/suppress-errors.ts
Owners: @ticketchain/core-team

feat: add test app utility for proper NestJS app cleanup in tests
  test/integration/events/events.integration.spec.ts
  test/integration/health.integration.spec.ts
  test/utils/test-app.ts
Owners: @ticketchain/core-team

feat: enhance test app utility to automatically set global prefix
  test/utils/test-app.ts
Owners: @ticketchain/core-team

feat: expand test coverage with integration tests
  .github/workflows/test.yml
  README.md
  docs/adr/001-testing-strategy.md
  package.json
  scripts/run-tests.sh
  test/integration/events/events.integration.spec.ts
  test/integration/health.integration.spec.ts
  test/integration/marketplace/marketplace.integration.spec.ts
  test/unit/cache/cache.service.spec.ts
  test/unit/database/database.service.spec.ts
  test/unit/events/events.service.spec.ts
Owners: @ticketchain/devops-team, @ticketchain/core-team, @ticketchain/blockchain-team

feat: expand test coverage with integration tests
  .github/workflows/test.yml
  README.md
  docs/adr/001-testing-strategy.md
  test/integration/events/events.integration.spec.ts
  test/integration/marketplace/marketplace.integration.spec.ts
Owners: @ticketchain/devops-team, @ticketchain/core-team

fix: update pre-commit hooks and add secrets baseline
  .gitleaksignore
  .pre-commit-config.yaml
  .secrets.baseline
Owners: @ticketchain/core-team

fix: add pragma allowlist comments to prevent detect-secrets failures
  .env.test
  .github/workflows/ci.yml
  .github/workflows/test.yml
  .secrets.baseline
  Makefile
  README.md
  docs/CI_FIXES_SUMMARY.md
  docs/adr/001-testing-strategy.md
  docs/security/credentials_best_practices.md
  infra/docker/.env.docker
  infra/docker/api.Dockerfile
  nest-cli.json
  scripts/local-ci.sh
  src/app.module.ts
  src/common/controllers/health.controller.ts
  src/graphql/schema.graphql
  src/main.ts
  src/modules/cache/cache.service.ts
  src/modules/database/database.service.ts
  src/modules/database/migrations/1717344000000-CreateEventsTable.ts
  test/unit/cache/cache.service.spec.ts
  test/unit/database/database.service.spec.ts
  test/unit/events/events.service.spec.ts
Owners: @ticketchain/security-team, @ticketchain/devops-team, @ticketchain/core-team, @ticketchain/blockchain-team, @ticketchain/backend-team

feat: update pre-commit config to exclude example files from secret detection
  .pre-commit-config.yaml
Owners: @ticketchain/core-team

docs: add pre-commit hooks section to README
  README.md
Owners: @ticketchain/core-team

fix: resolve CI failures with marketplace module and test scripts
  .github/workflows/test.yml
  .secrets.baseline
  package.json
  src/modules/marketplace/entities/listing.entity.ts
  src/modules/marketplace/entities/ticket.entity.ts
  src/modules/marketplace/marketplace.module.ts
  tests/contracts/gas/gas-report.test.js
Owners: @ticketchain/devops-team, @ticketchain/core-team, @ticketchain/backend-team

fix: update gas report test and gitleaksignore to address CI failures
  .gitleaksignore
  tests/contracts/gas/gas-report.test.js
Owners: @ticketchain/core-team

fix: improve gitleaks configuration to handle known test secrets
  .github/workflows/test.yml
  .gitleaks.toml
  .gitleaksignore
  infra/docker/.env.docker
Owners: @ticketchain/devops-team, @ticketchain/core-team, @ticketchain/security-team

fix: update gas report test to use bytes32 for IPFS hash
  tests/contracts/gas/gas-report.test.js
Owners: @ticketchain/core-team

fix: update gas report marketplace function names
  tests/contracts/gas/gas-report.test.js
Owners: @ticketchain/core-team

docs: update README with gitleaks information and update LICENSE
  .gitignore
  LICENSE
  README.md
Owners: @ticketchain/core-team

chore: update markdownlint config to accommodate Gitleaks documentation
  .markdownlint.json
  README.md
Owners: @ticketchain/core-team

fix: restore original TicketChain README
  README.md
Owners: @ticketchain/core-team

fix: restore original TicketChain README
  README.md
Owners: @ticketchain/core-team

fix: resolve test failures and database compatibility issues
  src/modules/blockchain/blockchain.service.ts
  src/modules/events/dto/event-response.dto.ts
  src/modules/events/entities/event.entity.ts
  src/modules/events/events.controller.ts
  src/modules/events/events.service.ts
  src/modules/marketplace/entities/listing.entity.ts
  src/modules/marketplace/entities/ticket.entity.ts
  test/integration/marketplace/marketplace.integration.spec.ts
  test/jest.setup.ts
Owners: @ticketchain/backend-team, @ticketchain/core-team

fix: improve cache service to handle Redis connection failures in test environment
  src/modules/cache/cache.service.ts
  test/integration/health.integration.spec.ts
  test/unit/cache/cache.service.spec.ts
Owners: @ticketchain/backend-team, @ticketchain/core-team

feat: fix marketplace integration tests and SQLite compatibility
  src/modules/blockchain/blockchain.service.ts
  src/modules/events/dto/event-response.dto.ts
  src/modules/events/events.controller.ts
  src/modules/events/events.service.ts
  src/modules/marketplace/entities/listing.entity.ts
  src/modules/marketplace/entities/ticket.entity.ts
  src/modules/marketplace/marketplace.controller.ts
  src/modules/marketplace/marketplace.module.ts
  test/integration/marketplace/marketplace.integration.spec.ts
Owners: @ticketchain/backend-team, @ticketchain/core-team

fix: remove duplicate artistAddress property in event response DTO
  src/modules/events/dto/event-response.dto.ts
Owners: @ticketchain/backend-team

fix: remove duplicate property reference in events service
  src/modules/events/events.service.ts
Owners: @ticketchain/backend-team

fix: resolve solhint warnings and improve code quality
  .solhint.json
  contracts/EventRegistry.sol
  contracts/SimpleMarketplace.sol
  contracts/TicketNFT.sol
  contracts/interfaces/ITicketNFT.sol
  contracts/test/MaliciousBuyer.sol
Owners: @ticketchain/core-team, @ticketchain/blockchain-team

fix: add missing IERC165 import to TicketNFT
  contracts/TicketNFT.sol
Owners: @ticketchain/blockchain-team

trigger pipe
  aaa.txt
Owners: @ticketchain/core-team

trigger pipe
  aaa.txt
Owners: @ticketchain/core-team

fix: resolve Solidity compilation errors
  contracts/SimpleMarketplace.sol
  contracts/test/MaliciousBuyer.sol
Owners: @ticketchain/blockchain-team

try to fix failed tests
  contracts/EventRegistry.sol
  tests/contracts/integration/EdgeCases.test.js
  tests/contracts/integration/FullFlow.test.js
  tests/contracts/unit/EventRegistry.test.js
  tests/contracts/unit/SimpleMarketplace.test.js
  tests/contracts/unit/TicketNFT.test.js
Owners: @ticketchain/blockchain-team, @ticketchain/core-team

fix: resolve ESLint warnings by adding proper types
  src/modules/blockchain/blockchain.service.ts
  src/modules/cache/cache.service.ts
  src/modules/events/events.controller.ts
Owners: @ticketchain/backend-team

fix: update dependencies to fix security vulnerabilities
  Makefile
  README.md
  package.json
  pyproject.toml
Owners: @ticketchain/core-team

fix: update Poetry dependencies and resolve b'HEAD' error
  package-lock.json
  poetry.lock
Owners: @ticketchain/core-team

fix: issues
  src/graphql/schema.graphql
  src/modules/events/entities/event.entity.ts
Owners: @ticketchain/backend-team

fix: update timestamp data type for SQLite compatibility in tests
  README.md
  src/modules/events/entities/event.entity.ts
Owners: @ticketchain/core-team, @ticketchain/backend-team
